<%= form_for(@utilisateur) do |f| %>
  <% if @utilisateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utilisateur.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @utilisateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email_confirmation %><br />
    <%= f.email_field :email_confirmation%>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :prenom %><br />
    <%= f.text_field :prenom, autofocus: true %>
  </div>
    
  <div class="actions">
    <%= f.submit "Créer"%>
  </div>
<% end %>
