<%= form_for(@categorie) do |f| %>
  <% if @categorie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorie.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @categorie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :mere %><br>
    <%= f.text_field :mere %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
