<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Mere</th>
      <th>Datecreation</th>
      <th>Datemodification</th>
      <th>Datesuppression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.nom %></td>
        <td><%= category.mere %></td>
        <td><%= category.created_at %></td>
        <td><%= category.updated_at %></td>
        <td><%= category.dateSuppression %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorie', new_category_path %>
